/* :root {
  background-color: white;
  position: relative;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: blue;
  position: relative;
}

.details {
  margin: 5%;
  position: relative;
  background-color: turquoise;
}

.detail h4 {
  position: flex;
  margin: 0;
  margin-left: 5%; 
  margin-right: 5%;
  padding: 0;
  background-color: #a6a6a6;
  color: white;
}

.detail p {
  position: flex;
  margin: 0;
  margin-left: 5%; 
  margin-right: 5%;
  padding: 0;
  font-size: .7rem;
} */