#AboutPage {
  .EyeCatch {
    position: relative;
    top: -20vh;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .details {
    width: 100%;
    max-width: 800px;
    top: -30vh;
  }
    footer {
    top: 50vh;
  }
}
