#CastPage {
  .EyeCatch {
    position: relative;
    top: -20vh;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .details {
    top: -30vh;
  }
  .CastCard{
    margin: 10px;
  }
  footer {
    top: 0vh;
  }
}