#KowairoInfoPage {
  .EyeCatch {
    position: relative;
    top: 5vh;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .details {
    top: 10vh;
  }
  footer {
    top: 40vh;
  }
}
